body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('pinkie.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.header-gif {
    width: 200px;
    /* Increased size for the mini rover GIF */
    display: block;
    /* Centering the image */
    margin: 10px auto;
    /* Space above and below */
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.animated-header {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color: #333;
}

.media-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-side {
    width: 50%;
    /* Left side width */
    text-align: center;
}

.right-side {
    width: 50%;
    /* Right side width */
    text-align: center;
}

.video-container {
    padding-bottom: 10px;
    /* Reduced gap above video */
}

.vlog-image,
.vlog-gif,
.additional-image {
    display: block;
    max-width: 80%;
    /* Smaller size for images */
    margin: 10px auto;
    border-radius: 8px;
}

.vlog-gif {
    max-width: 80%;
    /* Smaller size for the omni GIF */
    margin-bottom: 10px;
    /* Spacing between GIF and video */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
